
button::-moz-focus-inner {
  border: 0;
}

.button-template{
	display: inline-block;
	font: $button;
	letter-spacing: normal;
	margin: $-m 0;
	outline: none;
	padding: $-s $-m;
	cursor: pointer;
	border-radius: 5px;
	border: 0;
	&:hover{
		text-decoration: none;
	}
}
input[type=submit] {
	background-color: #FFF;
}

button.button, .button{
	@extend .button-template;
	display: inline-block;
	color: #FFF;
	font-weight: 400;
	background-color: $blue;
	&:hover{
		background-color: $blue-light;
		color: #FFF;
	}
	&:active{
		background-color: $blue-dark;
	}
	&.pos{
		background-color: $green;
		&:hover{
			background-color: $green-light;
		}
		&:active{
			background-color: $green-dark;
		}
	}
	&.neg{
		background-color: $red;
		&:hover{
			background-color: $red-light;
		}
		&:active{
			background-color: $red-dark;
		}
	}
}
.delete-circle{
	color: $red;
	height: 20px;
	width: 20px;
	font-size: 0.6em;
	line-height: 1.2em;
	border-radius: 10px;
	margin-left: 3px;
	border: 1px solid $red;
	&:hover{
		background-color: $red;
		color: #FFF;
	}
}
.delete-row{
	@extend .delete-circle;
	visibility: hidden;
}
.table-row:hover .delete-row{
	visibility: visible;
}

.link{
	@extend .button-template;
	font-size: 0.8em;
	color: $blue;
	border: 1px solid $blue;
	&:after{
		content: ' >';
	}
	&:hover{
		background-color: $blue;
		color: #FFFFFF;
	}
}

.states {
	.state {
		@extend .button-template;
		color: #333;
		margin-right: $-s;
		background-color: #EFEFEF;
		border: 1px solid #FFF;
		&:hover {
			border: 1px solid #DDDDDD;
		}
		&:active {
			background-color: #DDDDDD;
		}
	}
	.current{
		background-color: $blue-shade;
		cursor: default;
		&:hover {
			border: 1px solid #FFFFFF;
			background-color: $blue-shade;
		}
	}
}