
#site-header {
	padding-top: $-l;
	.logo {
		margin-top: $-m;
		float: left;
	}
	ul {
		float: right;
		li {
			padding: $-l $-m;
			a {
				color: #333;
				padding: $-s $-m;
				font-size: 1.2em;
				&:hover {
					border-radius: 3px;
					background-color: #EEE;
					text-decoration: none;
				}
			}
		}
	}
}

.public #site-header {
	margin-bottom: $-xl;
}