#datepicker{
	position: absolute;
	width: 400px;
	border: 2px solid #DDD;
	background-color: #FFF;
}
button.datepicker-date, .datepicker-time-hour, .datepicker-time-min{
	&:hover{
		background-color: #EEE;
	}
	&:active{
		outline: none;
	}
	&.current{
		background-color: $blue-light;
		color: #FFF;
	}
}
.datepicker-dates, .datepicker-times, .datepicker-days{
	padding: 0 $-xs;
}
.datepicker-dates{
	border-bottom: 1px solid #DDD;
}
.datepicker-date{
	@include col(1/7, $cycle:7);
	min-height: 1em;
	text-align: center;
	padding: $-xs 0;
}
.datepicker-monthrow{
	text-align: center;
	background-color: $blue-light;
	color: #FFF;
	span{
		padding: $-xs 0;
		display: inline-block;
	}
	button{
		background-color: $blue;
		color: #FFF;
		padding: $-xs $-s;
		&:active{
			background-color: $blue-dark;
		}
	}
	.datepicker-next{
		float: right;
	}
	.datepicker-prev{
		float: left;
	}
}
.datepicker-times{
	input, label{
		@include col(1/3, $cycle: 3);
	}
}
.datepicker-time-min, .datepicker-time-hour{
	@include col(1/12, $cycle:12);
	text-align: center;
}
.datepicker-header{
	@include col();
	margin-top: $-xs;
}
