

// Breakpoints for controlling layout changes
$xxl: 1200px;
$xl: 1000px;
$l: 800px;
$m: 600px;
$s: 500px;
$xs: 400px;

// Spacing values for padding/margins
$-xxl: 32px;
$-xl: 24px;
$-l: 16px;
$-m: 12px;
$-s: 8px;
$-xs: 6px;


// Font Sizes
$fs-m: 16px;

// Fonts 
$sans: 'Roboto', sans-serif;

// Colors
$blue: #28ACDA;
$blue-light: #28B7E9;
$blue-dark: #1F94BD;

$green: #5cb85c;
$green-light: #65CA65;
$green-dark: #4EA24E;

$red: #d9534f;
$red-light: #E45955;
$red-dark: #C54C48;