
@import "jeet/index";
@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "mixins";
@import "structure";
@import "html-elements";
@import "buttons";
@import "tables";

//@include edit();

.detail{
	padding: $-s 0;
	label, div{
		display: block;
		font-size: 0.8em;
		font-weight: bold;
		max-width: 250px;
		color: #555;
		text-transform: uppercase;
	}
	p{
		margin: 0;
	}
	&:last-child{
		border-bottom: 0;
	}
}

.header{
	@include center();
	margin-top: $-l;
	margin-bottom: $-l;
	padding: $-m 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	h1{
		display: inline-block;
		margin-right: 10px;
	}
	.buttons{
		float: right;
		display: inline-block;
	}
}

.subheader{
	h3{
		margin: 0;
		display: inline-block;
		float: left;
	}
	.button{
		margin: 3px 0 0 0;
	}
	padding: $-s 0;
}

.radio{
	@extend .button;
	padding: 0;
	label{
		cursor: pointer;
		padding: $-s $-m;
		display: inline-block;
	}
}

.pagination{
	text-align: center;
	li{
		display: inline-block;
		a,span{
			padding: 0 $-s;
		}
	}
}

.note{
	border-bottom: 1px solid #DDD;
	.detail{
		border-bottom: none;
		@include col(3/4, $cycle: 2);
	}
	.buttons{
		@include col(1/4, $cycle: 2);
		@include cf();
	}
	&:hover .button{
		visibility: visible;
	}
	.button{
		visibility: hidden;
	}
}