
@import "jeet/index";
@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "mixins";
@import "structure";
@import "html-elements";
@import "buttons";
@import "tables";
@import "lists";
@import "datepicker";
@import "common";

//@include edit();

.detail{
	padding: $-xs 0;
	>label, >div{
		display: block;
		font-size: 0.8em;
		font-weight: bold;
		max-width: 250px;
		color: #555;
		text-transform: uppercase;
	}
	p{
		margin: 0;
	}
	&:last-child{
		border-bottom: 0;
	}
	textarea{
		max-width: 100%;
		height: 120px;
	}
}

.header{
	@include center();
	margin: $-l 0;
	padding: $-m 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	h1{
		display: inline-block;
		margin-right: 10px;
	}
	.buttons{
		float: right;
		display: inline-block;
	}
}

.subheader{
	h3{
		margin: 0;
		display: inline-block;
		float: left;
	}
	.button{
		margin: 3px 0 0 0;
	}
	padding: $-s 0;
}

.radio{
	@extend .button;
	padding: 0;
	label{
		cursor: pointer;
		padding: $-s $-m;
		display: inline-block;
	}
}
#customer-display-wrapper{
	height: 150px;
}
#customer-current{
	margin-right: $-s;
}
#customer-display{
	position: relative;
	max-height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #F5F5F5;
	border: 2px solid #EEE;
	@include transition(max-height 0.4s ease);
	.customer-result{
		display: block;
		text-align: left;
		background-color: #FFF;
		cursor: pointer;
		margin: 2%;
		padding: $-s;
		width: 96%;
		max-width: 100%;
		border-bottom: 1px solid #DDD;
		&:hover{
			background-color: $blue;
			color: #FFF;
		}
		&:active{
			background-color: $blue-dark;
			color: #FFF;
		}
	}
	&:hover{
		max-height: 450px;
	}
	&:empty{
		border: none;
	}
}

.pagination{
	text-align: center;
	li{
		display: inline-block;
		a,span{
			padding: 0 $-s;
		}
	}
}

.note{
	border-bottom: 1px solid #DDD;
	.detail{
		border-bottom: none;
		@include col(3/4, $cycle: 2);
	}
	.buttons{
		@include col(1/4, $cycle: 2);
		@include cf();
	}
	&:hover .button{
		visibility: visible;
	}
	.button{
		visibility: hidden;
	}
}