/* line 17, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, sass/_structure.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, sass/_structure.scss */
.right {
  float: right;
  display: inline-block;
}

/* line 12, sass/_structure.scss */
.left {
  float: left;
  display: inline-block;
}

/* line 16, sass/_structure.scss */
.inline {
  display: inline-block;
}

/* line 20, sass/_structure.scss */
.container, .row, .row-center {
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden;
  position: relative;
}

/* line 27, sass/_structure.scss */
.row, .row-center {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 32, sass/_structure.scss */
.row-center {
  text-align: center;
}
/* line 35, sass/_structure.scss */
.row-center p {
  max-width: 620px;
  margin: 0 auto;
}

/* line 40, sass/_structure.scss */
.row-12 {
  width: 100%;
}

/* line 44, sass/_structure.scss */
.row-11 {
  width: 91.65%;
}

/* line 48, sass/_structure.scss */
.row-10 {
  width: 83.32%;
}

/* line 52, sass/_structure.scss */
.row-9 {
  width: 74.98%;
}

/* line 56, sass/_structure.scss */
.row-8 {
  width: 66.65%;
}

/* line 60, sass/_structure.scss */
.row-7 {
  width: 58.32%;
}

/* line 64, sass/_structure.scss */
.row-6 {
  width: 50%;
}

/* line 68, sass/_structure.scss */
.row-5 {
  width: 41.65%;
}

/* line 72, sass/_structure.scss */
.row-4 {
  width: 33%;
}

/* line 76, sass/_structure.scss */
.row-3 {
  width: 25%;
}

/* line 80, sass/_structure.scss */
.row-2 {
  width: 16.65%;
}

/* line 84, sass/_structure.scss */
.row-1 {
  width: 8.32%;
}

/* line 88, sass/_structure.scss */
.row-sub, .row-12, .row-11, .row-10, .row-9, .row-8, .row-7, .row-6, .row-5, .row-4, .row-3, .row-2, .row-1 {
  position: relative;
  float: left;
  text-align: left;
  overflow: hidden;
  padding: 0 12px;
  vertical-align: top;
}
@media screen and (max-width: 600px) {
  /* line 88, sass/_structure.scss */
  .row-sub, .row-12, .row-11, .row-10, .row-9, .row-8, .row-7, .row-6, .row-5, .row-4, .row-3, .row-2, .row-1 {
    width: 100%;
  }
}
/* line 98, sass/_structure.scss */
.row-sub p, .row-12 p, .row-11 p, .row-10 p, .row-9 p, .row-8 p, .row-7 p, .row-6 p, .row-5 p, .row-4 p, .row-3 p, .row-2 p, .row-1 p {
  max-width: 620px;
}
/* line 101, sass/_structure.scss */
.row-sub a, .row-12 a, .row-11 a, .row-10 a, .row-9 a, .row-8 a, .row-7 a, .row-6 a, .row-5 a, .row-4 a, .row-3 a, .row-2 a, .row-1 a {
  display: inline-block;
}
/* line 104, sass/_structure.scss */
.row-sub img, .row-12 img, .row-11 img, .row-10 img, .row-9 img, .row-8 img, .row-7 img, .row-6 img, .row-5 img, .row-4 img, .row-3 img, .row-2 img, .row-1 img {
  max-width: 100%;
  height: auto;
  margin: 0.6em 0 0.2em;
}
/* line 109, sass/_structure.scss */
.row-sub.fill, .fill.row-12, .fill.row-11, .fill.row-10, .fill.row-9, .fill.row-8, .fill.row-7, .fill.row-6, .fill.row-5, .fill.row-4, .fill.row-3, .fill.row-2, .fill.row-1 {
  padding: 0 12px 0 0;
}

/* line 1, sass/_html-elements.scss */
body {
  background-color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.45;
  color: #333;
  padding-bottom: 12px;
}

/* line 10, sass/_html-elements.scss */
p {
  margin-bottom: 1.3em;
}

/* line 14, sass/_html-elements.scss */
a {
  text-decoration: none;
  color: #0099ff;
}
/* line 17, sass/_html-elements.scss */
a:hover {
  color: #333;
  text-decoration: underline;
}

/* line 23, sass/_html-elements.scss */
h1, h2, h3, h4 {
  margin: 0.6em 0 0.2em;
  font-weight: 600;
  line-height: 1.2;
  max-width: 750px;
}

/* line 30, sass/_html-elements.scss */
h1 {
  margin-top: 0.5em;
  font-size: 3.998em;
}
@media screen and (max-width: 500px) {
  /* line 30, sass/_html-elements.scss */
  h1 {
    font-size: 2.827em;
  }
}

/* line 38, sass/_html-elements.scss */
h2 {
  font-size: 2.827em;
}
@media screen and (max-width: 500px) {
  /* line 38, sass/_html-elements.scss */
  h2 {
    font-size: 1.999em;
  }
}

/* line 45, sass/_html-elements.scss */
h3 {
  font-size: 1.999em;
}
@media screen and (max-width: 500px) {
  /* line 45, sass/_html-elements.scss */
  h3 {
    font-size: 1.414em;
  }
}

/* line 52, sass/_html-elements.scss */
h4 {
  font-size: 1.414em;
}
@media screen and (max-width: 500px) {
  /* line 52, sass/_html-elements.scss */
  h4 {
    font-size: 1.2em;
  }
}

/* line 59, sass/_html-elements.scss */
small, .font_small {
  font-size: 0.707em;
}

/* line 61, sass/_html-elements.scss */
strong {
  font-weight: bold;
}

/* line 65, sass/_html-elements.scss */
blockquote {
  line-height: 1.0em;
  font-style: italic;
  padding-left: 16px;
  margin-bottom: 1.3em;
  border-left: 2px dotted #DDD;
}

/* line 73, sass/_html-elements.scss */
input[type=text], input[type=datetime], textarea, select {
  font-family: "Open Sans", sans-serif;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #BBB;
}

/* line 79, sass/_html-elements.scss */
select {
  background-color: #EFEFEF;
}

/* line 84, sass/_html-elements.scss */
table th {
  font-weight: bold;
}
/* line 87, sass/_html-elements.scss */
table th, table td {
  padding: 0 6px;
}
/* line 91, sass/_html-elements.scss */
table.edit th {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: #555;
}
/* line 97, sass/_html-elements.scss */
table.edit th, table.edit td {
  padding: 0;
}

/* line 8, sass/style.scss */
.table-grid {
  width: 100%;
  border: 1px solid #DDD;
  border-collapse: separate;
  border-radius: 4px;
}
/* line 13, sass/style.scss */
.table-grid th {
  padding: 6px 12px;
  border-bottom: 1px solid #BBB;
}
/* line 17, sass/style.scss */
.table-grid td {
  padding: 6px 12px;
  border-bottom: 1px solid #DDD;
}
/* line 20, sass/style.scss */
.table-grid td .button, .table-grid td .radio {
  margin: 0;
}
/* line 24, sass/style.scss */
.table-grid thead tr {
  background-color: #EEEEEE;
}
/* line 27, sass/style.scss */
.table-grid tr:hover {
  background-color: #EEEEEE;
}
/* line 29, sass/style.scss */
.table-grid tr:hover td, .table-grid tr:hover th {
  border-bottom: 1px solid #BBB;
}
/* line 33, sass/style.scss */
.table-grid tbody tr:nth-child(2n) {
  background-color: #F5F5F5;
}
/* line 35, sass/style.scss */
.table-grid tbody tr:nth-child(2n):hover {
  background-color: #EEEEEE;
}

/* line 41, sass/style.scss */
.detail {
  padding: 12px 0;
  border-bottom: 1px solid #DDD;
}
/* line 44, sass/style.scss */
.detail label, .detail div {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  max-width: 250px;
  color: #555;
  text-transform: uppercase;
}
/* line 52, sass/style.scss */
.detail p {
  margin: 0;
}
/* line 55, sass/style.scss */
.detail:last-child {
  border-bottom: 0;
}

/* line 60, sass/style.scss */
.header {
  margin-top: 32px;
  margin-bottom: 13px;
}
/* line 63, sass/style.scss */
.header h1 {
  float: left;
  margin: 0;
  display: inline-block;
  margin-right: 10px;
}
/* line 69, sass/style.scss */
.header .buttons {
  float: right;
  margin-top: 13px;
  display: inline-block;
}

/* line 76, sass/style.scss */
.subheader {
  padding: 6px 0;
}
/* line 77, sass/style.scss */
.subheader h3 {
  margin: 0;
  display: inline-block;
  float: left;
}
/* line 82, sass/style.scss */
.subheader .button, .subheader .radio {
  margin: 3px 0 0 0;
}

/* line 88, sass/style.scss */
.button-template, .button, .radio, .link {
  display: inline-block;
  font-size: 0.8em;
  margin: 12px 0;
  line-height: 1.45;
  outline: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
/* line 97, sass/style.scss */
.button-template:active, .button:active, .radio:active, .link:active, .button-template.active, .active.button, .active.radio, .active.link {
  -webkit-box-shadow: inset 0 1px 1px 0 #bbbbbb;
  -moz-box-shadow: inset 0 1px 1px 0 #bbbbbb;
  box-shadow: inset 0 1px 1px 0 #bbbbbb;
}
/* line 100, sass/style.scss */
.button-template:hover, .button:hover, .radio:hover, .link:hover {
  text-decoration: none;
}

/* line 105, sass/style.scss */
.button, .radio {
  border: 1px solid #BBB;
  display: inline-block;
  color: #333;
  font-weight: bold;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  background-image: linear-gradient(#eeeeee, #dddddd);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}
/* line 114, sass/style.scss */
.button:hover, .radio:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #cdcdcd));
  background-image: -webkit-linear-gradient(#ededed, #cdcdcd);
  background-image: -moz-linear-gradient(#ededed, #cdcdcd);
  background-image: -o-linear-gradient(#ededed, #cdcdcd);
  background-image: linear-gradient(#ededed, #cdcdcd);
}

/* line 120, sass/style.scss */
.link {
  font-size: 0.8em;
  color: #0099ff;
  border: 1px solid #0099ff;
}
/* line 125, sass/style.scss */
.link:after {
  content: ' >';
}
/* line 128, sass/style.scss */
.link:hover {
  background-color: #0099ff;
  color: #FFFFFF;
}

/* line 134, sass/style.scss */
.radio {
  padding: 0;
}
/* line 137, sass/style.scss */
.radio label {
  cursor: pointer;
  padding: 6px 12px;
  display: inline-block;
}

/* line 144, sass/style.scss */
.pagination {
  text-align: center;
}
/* line 146, sass/style.scss */
.pagination li {
  display: inline-block;
}
/* line 148, sass/style.scss */
.pagination li a, .pagination li span {
  padding: 0 6px;
}
