

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.right{
	float: right;
	display: inline-block;
}
.left{
	float: left;
	display: inline-block;
}
.inline{
	display: inline-block;
}
// Containers
.container{
	display: block;
	width: 100%;
	clear: both;
	overflow: hidden;
	position: relative;
}
.row{
	@extend .container;
	max-width: $xxl;
	margin: 0 auto;
}
.row-center{
	@extend .row;
	text-align: center;
	p{
		max-width: 620px;
		margin: 0 auto;
	}
}
.row-12{
	@extend .row-sub;
	width: 100%;
}
.row-11{
	@extend .row-sub;
	width: 91.65%;
}
.row-10{
	@extend .row-sub;
	width: 83.32%;
}
.row-9{
	@extend .row-sub;
	width: 74.98%;
}
.row-8{
	@extend .row-sub;
	width: 66.65%;
}
.row-7{
	@extend .row-sub;
	width: 58.32%;
}
.row-6{
	@extend .row-sub;
	width: 50%;
}
.row-5{
	@extend .row-sub;
	width: 41.65%;
}
.row-4{
	@extend .row-sub;
	width: 33%;
}
.row-3{
	@extend .row-sub;
	width: 25%;
}
.row-2{
	@extend .row-sub;
	width: 16.65%;
}
.row-1{
	@extend .row-sub;
	width: 8.32%;
}
.row-sub{
	position: relative;
	float: left;
	text-align: left;
	overflow: hidden;
	padding: 0 $-m;
	vertical-align: top;
	@include respond-to(m) {
		width: 100%;
	}
	p{
		max-width: 620px;
	}
	a{
		display: inline-block;
	}
	img{
		max-width: 100%;
		height: auto;
		margin: 0.6em 0 0.2em;
	}
	&.fill{
		padding: 0 $-m 0 0;
	}
}