

// Breakpoints for controlling layout changes
$xxl: 1200px;
$xl: 1000px;
$l: 800px;
$m: 600px;
$s: 500px;
$xs: 400px;

// Spacing values for padding/margins
$-xxl: 32px;
$-xl: 24px;
$-l: 16px;
$-m: 12px;
$-s: 6px;


// Font Sizes
$fs-m: 16px;

// Fonts 
$sans: 'Open Sans', sans-serif;
$serif:'Lily Script One', cursive;

// Colors
$second: #09F;